@using AppSigmaAdmin.Utility

@section style {
    <style>

        .menuBox {
            margin-top: 45px;
            margin-left: 20%;
            padding: 40px;
            padding-top: 50px;
            font-size: 15pt;
        }

        table.menuTable {
            width: 800px;
        }

            table.menuTable tr {
                height: 50px;
            }

            table.menuTable th {
                width: 100px;
            }
    </style>
}

@section funcTitle {
    <div class="funcTitleBer">
        メニュー
    </div>
}

<div class="ContentsBase">
    <div class="menuBox">
        <table class="menuTable">
            <tr>
                <th><a href="@Common.CreateUrl("/PaymentManage", false)">決済管理</a></th>
                <td>：決済状況の管理、決済情報の出力</td>
            </tr>
            <tr>
                <th><a href="@Common.CreateUrl("/OperationMonitoring", false)">運用監視</a></th>
                <td>：プロジェクトΣシステムの各種リソースの監視、運用レポート出力</td>
            </tr>
        </table>
    </div>
</div>
