@model AppSigmaAdmin.Models.RoleList
@using AppSigmaAdmin.Utility

@section style {
    <style>
        input[type="submit"].accent-color-button,
        input[type="button"].accent-color-button,
        accent-color-button {
            width: 300px;
        }

        input[type="submit"].action-enter,
        input[type="button"].action-enter,
        button.action-enter {
            width: 300px;
        }
        .Main {
           display:inline-block;
            text-align:center;
        }

        .Sub {
            display: inline-block;
            text-align: center;
            margin-left:2%;
            vertical-align:top;
        }
    </style>
}
@section scripts{
    <script>
        $(document).ready(function () {
        });

    </script>
}

@section funcTitle {
    <div class="funcTitleBer">
        メニュー
    </div>
}

<div class="ContentsBase">
    <div class="menuBox">
            @{
                if (Model != null)
                {
                    if (Model.LowerRoleFunctionList != null)
                    {
                        <div class="Main">
                            @{ foreach (var MenuList in Model.LowerRoleFunctionList)
                                {
                                    /*閲覧権限のあるページのみ表示する*/
                                    string valuename = MenuList.FuncName.ToString();
                                    string MenuName = valuename.Trim();
                                    string urlvalue = MenuList.FuncId.ToString();
                                    string Url = urlvalue.Trim();
                                    string RolIdnum = MenuList.RoleId.ToString();
                                    string RolId = RolIdnum.Trim();

                                    <div>
                                        <input type="submit" value=@MenuName class="accent-color-button" style="margin-bottom:20px" onclick="window.location.href='@Common.CreateUrl("/" + @Url, false)'" />
                                    </div>
                                }
                            }
                        </div>

                    }
                    if (Model.UpperRoleFunctionList != null)
                    {
                        <div class="Sub">
                            @{ foreach (var UpperMenuList in Model.UpperRoleFunctionList)
                                {
                                    /*閲覧権限のあるページのみ表示する*/
                                    string valuename = UpperMenuList.FuncName.ToString();
                                    string MenuName = valuename.Trim();
                                    string urlvalue = UpperMenuList.FuncId.ToString();
                                    string Url = urlvalue.Trim();
                                    string RolIdnum = UpperMenuList.RoleId.ToString();
                                    string RolId = RolIdnum.Trim();

                                    <div>
                                        <input type="submit" value=@MenuName class="action-enter" style="margin-bottom:20px" onclick="window.location.href='@Common.CreateUrl("/" + @Url, false)'" />
                                    </div>
                                }
                            }
                        </div>
                    }
                }
            }
    </div>
</div>
