@model AppSigmaAdmin.Models.RoleList

@using AppSigmaAdmin.Utility

@section style {
    <style>
        input[type="submit"].accent-color-button,
        input[type="button"].accent-color-button,
        accent-color-button {
            width: 300px;
        }
    </style>
}

@section funcTitle {
    <div class="funcTitleBer">
        メニュー
    </div>
}

<div class="ContentsBase">
    <div class="menuBox">
        @{

            if (Model != null)
            {
                if (Model.RoleFunctionList != null)
                {
                    foreach (var MenuList in Model.RoleFunctionList)
                    {
                        //閲覧権限のあるページのみ表示する
                        string valuename = MenuList.FuncName.ToString();
                        string MenuName = valuename.Trim();
                        string urlvalue = MenuList.FuncId.ToString();
                        string Url = urlvalue.Trim();
                        <div>
                            <input type="submit" value=@MenuName class="accent-color-button" style="margin-bottom:20px" onclick="window.location.href='@Common.CreateUrl("/"+@Url, false)'" />
                        </div>
                    }
                }
            }
        }
    </div>
</div>
