@using AppSigmaAdmin.Utility

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>プロジェクトΣ</title>
</head>
<body>
    <h2>プロジェクトΣ</h2>
    <h2 style="color:red;">アプリケーションエラーが発生しました。</h2>

    <a href="@Common.CreateUrl("/Menu", false)">メニューへ</a>
    <br />
    <br />
    @if (ViewBag.ErrorStack != null)
    {
        <pre style="background:#e6e6e6">
            @ViewBag.ErrorStack
        </pre>
    }
    <br />
</body>
</html>
