@using AppSigmaAdmin.Utility

@section style {
    <style>
        .funcTitleBer {
            background-color: #F42F66;
        }

        .headerBoxSub {
            background-color: #F42F66 !important;
        }
    </style>
}
@section funcTitle {
    <div class="funcTitleBer">
        エラー
    </div>
}
<div class="ContentsBase">
    <div class="userInfoBox">
        @{
            if (ViewBag.ExFunc != null)
            {
                if (ViewBag.ExFunc == "ValidationEx")
                {
                    @*ValidationExceptionだった場合*@
                    <h2 style="color:red;">危険な可能性のある入力を検出しました。</h2>
                }
                else
                {
                    <h2 style="color:red;">アプリケーションエラーが発生しました。</h2>
                }
            }
            else
            {
                <h2 style="color:red;">アプリケーションエラーが発生しました。</h2>
            }
        }

        <a href="@Common.CreateUrl("/Menu", false)">メニューへ</a>
    </div>
    <br />
    <br />
    @if (ViewBag.ErrorStack != null)
    {
        <pre style="background:#e6e6e6">
            @ViewBag.ErrorStack
        </pre>
    }
    <br />
</div>
