@using AppSigmaAdmin.Utility

@section style {
    <style>

        .menuBox {
            margin-top: 45px;
            margin-left: 20%;
            padding: 40px;
            padding-top: 50px;
            font-size: 15pt;
        }

        table.menuTable {
            width: 800px;
        }

            table.menuTable tr {
                height: 50px;
            }

            table.menuTable th {
                width: 100px;
            }
    </style>
}

@section funcTitle {
    <div class="funcTitleBer">
        メニュー
    </div>
}

<div class="ContentsBase">
    ユーザ情報
</div>
