<?xml version="1.0" encoding="utf-8"?>

<!-- Web.config 変換の使用の詳細については、https://go.microsoft.com/fwlink/?LinkId=301874 を参照してください -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    以下の例では、"SetAttributes" 変換により、値が "MyDB" の属性 "name" を 
    "Match" ロケーターが検出した場合にのみ "connectionString" の値に
     "ReleaseSQLServer" を使用するよう変更されます。

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      以下の例では、"Replace" 変換により Web.config ファイルの
 <customErrors> セクション全体が置換されます。
 <system.web> ノードには 1 つの customErrors セクションしかないため、
 "xdt:Locator" 属性を使用する必要はありません。

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=sigmapreprodstg;AccountKey=6Cn6EdF0iXZpoMZgV759pSakkdOhDwFqIKFLda3w7JqwXQDzgFwu81F0iZ5ApXCK055OGvSsDGFlyykfBjorxQ==;EndpointSuffix=core.windows.net" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="StorageConnectionString2" value="DefaultEndpointsProtocol=https;AccountName=sfdgpreprod7240;AccountKey=EBzpZcvICJVoUQ4A0yYC5m42BiDukSc9VuM4N+HZysr1WrOSubMVz6rDaH/p7rPhfWHUtiBzkDcmCDZ/OeWt8A==;EndpointSuffix=core.windows.net" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SigmaAPIServerURI" value="https://stg.s-api.etoyota.net/sigma/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="GMOShopManageURI" value="https://urldefense.proofpoint.com/v2/url?u=https-3A__kt01.mul-2Dpay.jp_mulpayconsole_shop_tshop00030563_&amp;d=CwIFJg&amp;c=GEdnB7NaG3bi4NvZQMy0w476FiXvCbefB6yBlQ83KD0&amp;r=zqXGLPTS3IXN40S6ckuahQx8LZyahDAaklVZrsshfGw&amp;m=vy4wxNlItn3mZ4pgUp3VHw0y0YGqnEe2YzU5RZDUpko&amp;s=fhVN7gf7W0VxYc8Dc3bGSl05BGGJSVpoOLo2ONCgxAM&amp;e=" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="GMOSiteManageURI" value="https://urldefense.proofpoint.com/v2/url?u=https-3A__kt01.mul-2Dpay.jp_mulpayconsole_site_tsite00027484_&amp;d=CwIFJg&amp;c=GEdnB7NaG3bi4NvZQMy0w476FiXvCbefB6yBlQ83KD0&amp;r=zqXGLPTS3IXN40S6ckuahQx8LZyahDAaklVZrsshfGw&amp;m=vy4wxNlItn3mZ4pgUp3VHw0y0YGqnEe2YzU5RZDUpko&amp;s=HbIptxTdYj22XV4LIwKbkXYZmKrLPMTRJVLugiyEiQQ&amp;e=" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AzureMonitorURI" value="https://portal.azure.com/#blade/Microsoft_Azure_Monitoring/AzureMonitoringBrowseBlade" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ApplicationID" value="SigmaAppXX01234567890123" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="DatabaseConnectionString" providerName="System.Data.SqlClient" connectionString="Server=tcp:sigma-preprod.database.windows.net,1433;Initial Catalog=sigma-preprod-db;Persist Security Info=False;User ID=SigmaDbUser;Password=R8hdAz8e;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
</configuration>
